html {
    font-family: 'Pagella', serif;
    text-align: justify;
    line-height: 2;
    font-size: 20px;
}

.content {
    max-width: 40rem;
    margin: 0 auto;
}

h1 {
    font-size: 2.5em;
}

footer {
    text-align: right;
}

.div-table {
    display: table;
    table-layout: fixed;
    width: 100%;
}

.div-table div {
    display: table-cell;
    text-align: center;
}

.div-table input, label {
    display: inline;
    float: none;
}

.center {
    text-align: center;
}