#grid {
    width: 45%;
    height: auto;
    table-layout: fixed;
    border-collapse: collapse;
}

#grid td {
    border: 1px solid black;
    height: 20px;
    width: 20px;
    box-sizing: border-box;
    text-align: center;
    overflow: hidden;
    font-size: 0.8em;
}

#grid .td-fixed {
    background-color: lightblue;
}

#grid .border-left {
    border-left: 0.2em solid black;
}

#grid .border-right {
    border-right: 0.2em solid black;
}

#grid .border-top {
    border-top: 0.2em solid black;
}

#grid .border-bottom {
    border-bottom: 0.2em solid black;
}

h1 {
    text-align: center;
}

textarea {
    overflow: hidden;
    resize: none;
    font-size: 1.5em;
}

input[type="button"][disabled]:hover {
    cursor: not-allowed;
}

/* initially hidden controls */
input[type=button][value=">>"], input[type=button][value="<<"], #button-clear-solutions {
    display: none;
}